# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
name: Build and Release RESTUI

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build for all platforms
    runs-on: ubuntu-latest

    outputs:
      artifacts: ${{ steps.upload.outputs.artifact_paths }}

    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [amd64, arm64]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build
        run: |
          mkdir -p dist
          binary_name="restui"
          if [ "${{ matrix.goos }}" == "windows" ]; then
            binary_name="restui.exe"
          fi
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} \
          CGO_ENABLED=0 \
          go build -trimpath -ldflags="-s -w" -o dist/${binary_name}

      - name: Archive binary
        run: |
          cd dist
          tar -czf restui_${{ matrix.goos }}_${{ matrix.goarch }}.tar.gz *
        shell: bash

      - name: Upload build artifact
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: restui-${{ matrix.goos }}-${{ matrix.goarch }}
          path: dist/restui_${{ matrix.goos }}_${{ matrix.goarch }}.tar.gz

  release:
    name: Create GitHub Release and Upload Binaries
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./artifacts/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
