# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build RESTUI

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build for all platforms
    runs-on: ubuntu-latest

    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [amd64, arm64]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build
        run: |
          mkdir -p dist
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} \
          CGO_ENABLED=0 \
          go build -trimpath -ldflags="-s -w" -o dist/restui_${{ matrix.goos }}_${{ matrix.goarch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: restui-${{ matrix.goos }}-${{ matrix.goarch }}
          path: dist/restui_${{ matrix.goos }}_${{ matrix.goarch }}
